<div *ngIf="isAccountError" class="row justify-content-center align-items-center mt-5">
    <div class="alert alert-danger">
        Wystąpił błąd, spróbuj ponownie później.
    </div>
</div>

<div *ngIf="isAccountEditSuccess" class="row justify-content-left align-items-center mt-5">
    <div class="alert alert-success">
        Zmiany zostały zapisane pomyślnie.
    </div>
</div>

<app-information 
    *ngIf="!isEditing"
    [user]="user"
    (editInformationClick)="onEditInformationClick($event)"
    (accountError)="onAccountError($event)" >
</app-information>

<app-information-form
    *ngIf="isEditing"
    [user]="user"
    [isEmailError]="isEmailError"
    (closeClick)="onCloseClick($event)" 
    (editSubmit)="onEditSubmit($event)" 
    (getWorkHours)="onGetWorkHours($event)"
    (accountError)="onAccountError($event)" >
</app-information-form>