<div *ngIf="isAccountError" class="row justify-content-center align-items-center mt-5">
    <div class="alert alert-danger">
        Błąd pobierania danych.
    </div>
</div>

<div *ngIf="!isEditing"  class="row d-flex justify-content-left p-5">
    <div class="col-6 ml-md-5">
        <div class="jumbotron bg-light">
            <h1 class="display-3">{{user.firstname}} {{user.lastname}}</h1>
            <p class="lead">{{user.email}}</p>
            <hr class="my-4">
            <p><strong>Licencja:</strong> {{user.representative == null ? user._id : user.representative}}</p>
            <hr class="my-1">
            <p *ngIf="isActive; else inNotActive"><strong>Status:</strong>Jesteś aktywny i akceptujesz czaty.</p>
            <ng-template #inNotActive>
               <p><strong>Status:</strong> Nie akceptujesz teraz czatów. <br> <span class="text-info">Zmień status aktywności aby udzielać konsultacji.</span></p>
            </ng-template>
            <hr class="my-1">
            <p><strong>Godziny pracy:</strong> N.NN - N.NN</p>
            <p class="lead mt-5">
                <button class="btn btn-primary btn-lg" (click)="edit()" role="button">Edytuj konto</button>
            </p>
        </div>  
    </div>
</div>

<div *ngIf="isEditing"  class="row d-flex justify-content-left p-5">
    <div class="col-6 ml-md-5">
        <div class="jumbotron bg-light">
            <h1 class="display-3">Edytuj konto</h1>
            <p class="lead">Wprowadź zmiany i zatwierdź</p>
            <hr class="my-4">
                <div *ngIf="isRegisterError" class="row justify-content-center align-items-center">
                    <div class="alert alert-warning">
                        Użytkownik już istnieje.
                    </div>
                </div>
    
                <form class="form" #editForm="ngForm" (ngSubmit)="OnSubmit(editForm)">
                    <div class="form-group mt-3">
                        <label for="firstname" class="text-primary">Imię:</label>
                        <input type="text" name="firstname" id="firstname" class="form-control validate" #firstname="ngModel" [(ngModel)]="user.firstname" [pattern]="firstnamePattern">
                        <label *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-warning mt-3 p-2" data-error="">Imię to ciąg maksymalnie 20 znaków.</label>
                    </div>
                    <div class="form-group mt-3">
                        <label for="lastname" class="text-primary">Nazwisko:</label>
                        <input type="text" name="lastname" id="lastname" class="form-control validate" #lastname="ngModel" [(ngModel)]="user.lastname" [pattern]="lastnamePattern">
                        <label *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-warning mt-3 p-2" data-error="">Nazwisko to ciąg maksymalnie 20 znaków.</label>
                    </div>
                    <div class="form-group mt-3">
                        <label for="email" class="text-primary">Email:</label>
                        <input type="email" name="email" id="email" class="form-control validate" #email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern">
                        <label *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-warning mt-3 p-2" data-error="">Nazwa firmy to maksymalnie 60 znaków i zachowywać format emaila.</label>
                    </div>
                    <div class="form-group mt-3">
                        <label for="password" class="text-primary">Hasło*:</label>
                        <input type="password" name="password" id="password" class="form-control validate" #password="ngModel" [(ngModel)]="user.password" [pattern]="passwordPattern">
                        <label *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-warning mt-3 p-2" data-error="">Hasło znaków musi zawierać co najmniej jedną cyfrę, jedną małą literę oraz jedną dużą literę oraz od 6 do 30.</label>
                    </div>
                    <div class="form-group mt-3">
                        <label for="repassword" class="text-primary">Powtórz hasło*:</label>
                        <input type="password" name="repassword" id="repassword" class="form-control validate" #repassword="ngModel" [(ngModel)]="user.repassword">
                        <label *ngIf="password.value !== repassword.value && (repassword.dirty || repassword.touched)"  class="alert alert-warning mt-3 p-2" data-error="">Powtórzone hasło musi być identyczne jak hasło.</label>
                    </div>

                    <div class="col-16 my-3 text-center">
                        <button [disabled]="!editForm.valid" type="submit" class="btn btn-outline-primary">Zapisz zmiany</button>
                        <button type="button" class="btn btn-secondary ml-4" (click)="close()">Zamknij</button>
                    </div>
                </form>
        </div>  
    </div>
</div>
