<div class="row p-3 chat-form d-flex flex-column flex-nowrap justify-content-center align-items-center">
    <div class="alert alert-info mt-2 p-2 text-center" data-error="">
        Czat został zakończony, jak oceniasz uzyskaną pomoc?
    </div>

    <div class="rating d-flex justify-content-center flex-row-reverse">
        <input type="radio" id="star5" name="rating" value="5" />
        <label for="star5">
            <i class="fas fa-star fa-2x cursor-pointer"></i>5
        </label>
        <input type="radio" id="star4" name="rating" value="4" />
        <label for="star4">
            <i class="fas fa-star fa-2x cursor-pointer"></i>4
        </label>
        <input type="radio" id="star3" name="rating" value="3" />
        <label for="star3">
            <i class="fas fa-star fa-2x cursor-pointer"></i>3
        </label>
        <input type="radio" id="star2" name="rating" value="2" />
        <label for="star2">
            <i class="fas fa-star fa-2x cursor-pointer"></i>2
        </label>
        <input type="radio" id="star1" name="rating" value="1" />
        <label for="star1">
            <i class="fas fa-star fa-2x cursor-pointer"></i>1
        </label>
    </div>
</div>	