<header class="vh-100 bg-primary jumbotron d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-8 text-left">
          <div class="text-white">
            <h1>Witaj w HelpChat,</h1>
            <h3>bądź o krok bliżej swoich klientów!</h3>
          </div>
            <br>
            <div routerLink="/register" class="btn btn-outline-secondary text-white">Zacznij korzytstać!</div>
         </div>
      </div>
    </div>
</header>

<section>
    <div class="container">
      <div class="row">
        <div class="col-6" data-aos="fade-right" data-aos-duration="1200">
          <img class="float-right" src="../../../assets/img/img.png" alt="">
        </div>
        <div class="col-6">
          <h2>Lorem ipsum dolor sit amet</h2>
          <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light">
    <div class="container">
        <div class="row">
          <div class="col-6 text-right">
            <h2>Lorem ipsum</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
          </div>
          <div class="col-6" data-aos="fade-left" data-aos-duration="1200">
            <img class="float-left" src="../../../assets/img/img.png" alt="">
          </div>
        </div>
    </div>
  </section>

  <section>
    <div class="container">
        <div class="row">
            <div class="col-6" data-aos="fade-right" data-aos-duration="1200">
                <img class="float-right" src="../../../assets/img/img.png" alt="">
            </div>
            <div class="col-6">
              <h2>Lorem ipsum dolor</h2>
              <p class="lead">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </div>
          </div>
      </div>
  </section>