<div class="container mt-5">
    <div *ngIf="isRegistering" class="row justify-content-center">
        <div class="col-6">
            <h2 class="text-center mb-5">Zarejestruj się</h2>

            <div *ngIf="isRegisterError" class="row justify-content-center align-items-center">
                <div class="alert alert-warning">
                    Użytkownik już istnieje.
                </div>
            </div>

            <form class="form" #registerForm="ngForm" (ngSubmit)="OnSubmit(registerForm)">
                <div class="form-group mt-3">
                    <label for="firstname" class="text-primary">Imię*:</label>
                    <input type="text" name="firstname" id="firstname" class="form-control validate" #firstname="ngModel" [(ngModel)]="user.firstname" required [pattern]="firstnamePattern">
                    <label *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-warning mt-3 p-2" data-error="">Imię to ciąg maksymalnie 20 znaków.</label>
                </div>
                <div class="form-group mt-3">
                    <label for="lastname" class="text-primary">Nazwisko*:</label>
                    <input type="text" name="lastname" id="lastname" class="form-control validate" #lastname="ngModel" [(ngModel)]="user.lastname" required [pattern]="lastnamePattern">
                    <label *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-warning mt-3 p-2" data-error="">Nazwisko to ciąg maksymalnie 20 znaków.</label>
                </div>
                <div class="form-group mt-3">
                    <label for="email" class="text-primary">Email*:</label>
                    <input type="email" name="email" id="email" class="form-control validate" #email="ngModel" [(ngModel)]="user.email" required [pattern]="emailPattern">
                    <label *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-warning mt-3 p-2" data-error="">Email to maksymalnie 60 znaków i zachowywać format emaila.</label>
                </div>
                <div class="form-group mt-3">
                    <label for="password" class="text-primary">Hasło*:</label>
                    <input type="password" name="password" id="password" class="form-control validate" #password="ngModel" [(ngModel)]="user.password" required [pattern]="passwordPattern">
                    <label *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-warning mt-3 p-2" data-error="">Hasło znaków musi zawierać co najmniej jedną cyfrę, jedną małą literę oraz jedną dużą literę oraz od 6 do 30.</label>
                </div>
                <div class="form-group mt-3">
                    <label for="repassword" class="text-primary">Powtórz hasło*:</label>
                    <input type="password" name="repassword" id="repassword" class="form-control validate" #repassword="ngModel" [(ngModel)]="user.repassword" required>
                    <label *ngIf="password.value !== repassword.value && (repassword.dirty || repassword.touched)"  class="alert alert-warning mt-3 p-2" data-error="">Powtórzone hasło musi być identyczne jak hasło.</label>
                </div>
                <div class="alert alert-info mt-3 p-2" data-error="">
                    * Wszystkie pola są wymagane.
                </div>
                <div class="col-16 my-3 text-center">
                    <button [disabled]="!registerForm.valid" type="submit" class="btn btn-outline-primary">Zarejestruj się</button>
                </div>
            </form>
        </div>
    </div>
    
    <div *ngIf="!isRegistering" class="row justify-content-center">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-5">Twoje konto zostało poprawnie utworzone!</h1>
                <p class="lead">
                    By czatować z odwiedzającymi musisz umieścić okno czatu w swoim serwisie internetowym. Skopiuj poniższy skrypt i umieść go w kodzie źródłowym HTML twojej strony interentowej między znacznikami &lthead&gt.
                </p>
                <hr class="my-4">
                    <textarea class="form-control" rows="15">
                        <script type="application/javascript">
                            window.__helpchat = window.__helpchat || {};
                            window.__helpchat.license = "{{licenceNumber}}";
                            (function() {
                            var helpchat = document.createElement('script'); 
                            helpchat.id = 'help-chat-script';
                            helpchat.type = 'text/javascript'; 
                            helpchat.async = true;
                            helpchat.src = 'http://localhost:5000/assets/helpchat.js';
                            var s = document.getElementsByTagName('script')[0]; 
                            s.parentNode.insertBefore(helpchat, s);
                            })();
                        </script> 
                    </textarea>
                <p class="lead mt-3">
                    <a class="btn btn-primary" href="/login" role="button">Zaloguj się</a>
                </p>
            </div>
        </div>
    </div>
</div>