<div class="margin-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top px-5">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <a class="navbar-brand js-scroll-trigger" routerLink="/">
                HelpChat
            </a>
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item px-2">
                    <a class="nav-link js-scroll-trigger cursor-pointer" [ngClass]="{'active': isActive === true} " (click)="SwitchActivity()"  role="button">
                        <div *ngIf="isActive; else inNotActive">
                            Jesteś aktywny <i class="fas fa-toggle-on ml-2"></i>
                        </div>
                        <ng-template #inNotActive>
                            Jesteś nieaktywny <i class="fas fa-toggle-off ml-2"></i>
                        </ng-template>
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link js-scroll-trigger cursor-pointer" (click)="Logout()" role="button">
                        Wyloguj
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-1 col-md-3 col-lg-2 table-active p-0 mt-1 side-bar-scroll position-relative">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <!-- <a class="nav-link py-3 px-4" routerLink="/home/home" routerLinkActive="active" data-toggle="pill" role="tab" aria-selected="false">
                        <i class="fas fa-home"></i>
                        Strona główna
                    </a> <hr class="m-0"> -->
                    <a class="nav-link py-3 px-4" routerLink="/home/chats" routerLinkActive="active" data-toggle="pill" role="tab" aria-selected="false">
                        <i class="fas fa-comment-alt"></i>
                        Czaty
                    </a> <hr class="m-0">
                    <a class="nav-link py-3 px-4" routerLink="/home/visitors" routerLinkActive="active" data-toggle="pill" role="tab" aria-selected="false">
                        <i class="fas fa-address-book"></i>
                        Odwiedzający
                    </a> <hr class="m-0">
                    <a class="nav-link py-3 px-4" routerLink="/home/archive" routerLinkActive="active" data-toggle="pill" role="tab" aria-selected="false">
                        <i class="fas fa-archive"></i>
                        Archiwum
                    </a> <hr class="m-0">
                    <a class="nav-link py-3 px-4" routerLink="/home/consultants" routerLinkActive="active" data-toggle="pill" role="tab" aria-selected="false">
                        <i class="fas fa-user-friends"></i>
                        Konsultanci
                    </a> <hr class="m-0">
                    <a class="nav-link py-3 px-4" routerLink="/home/statistics" routerLinkActive="active" data-toggle="pill" role="tab" aria-selected="false">
                        <i class="fas fa-chart-line"></i>
                        Statystki
                    </a> <hr class="m-0">
                    <a class="nav-link py-3 px-4" routerLink="/home/account" routerLinkActive="active" data-toggle="pill" role="tab" aria-selected="false">
                        <i class="fas fa-user"></i>
                        Konto
                    </a> <hr class="m-0">
                </div>
            </nav>

            <main class="col-11 col-md-9 col-lg-10 pl-0">
                <div *ngIf="isDataError" class="row justify-content-center align-items-center mt-5">
                    <div class="alert alert-danger">
                        Wystąpił błąd, spróbuj ponownie później.
                    </div>
                </div>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>