<div class="container mt-4 pt-3">
    <div class="row justify-content-center mt-4">
        <div class="col-6">
            <h2 class="text-center my-4">Zaloguj się</h2>

            <div *ngIf="isLoginError" class="row justify-content-center align-items-center">
                <div class="alert alert-warning">
                    Niepoprawny email lub hasło.
                </div>
            </div>

            <form class="form px-4" #loginForm="ngForm" (ngSubmit)="OnSubmit(email.value, password.value)">
                <div class="form-group mt-3">
                    <label for="email" class="text-primary">Email:</label>
                    <input type="email" #email ngModel name="email" id="email" class="form-control" required>
                </div>
                <div class="form-group mt-3">
                    <label for="password" class="text-primary">Hasło:</label>
                    <input type="password" #password ngModel name="password" id="password" class="form-control" required>
                </div>
                <div class="form-group text-center mt-4">
                    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-outline-primary">Zaloguj</button>
                </div>
            </form>

            <div class="text-center mt-5">
                <p>Nie masz jeszcze konta? <br>
                Nie czekaj!</p>
                <a href="/register" class="text-primary">Zarejestruj się</a>
            </div>
        </div>
    </div>
</div>