<div class="sidebar-sticky">
    <div *ngIf="isDataError" class="row justify-content-center align-items-center mt-5">
        <div class="alert alert-danger">
            Wystąpił błąd, spróbuj ponownie później.
        </div>
    </div>
    <div class="panel-group p-0" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title cursor-pointer nav-stat">
                    <div data-toggle="collapse" 
                        class="text-decoration-none p-2" 
                        href="#collapseChat, #collapseFilter">
                        Czat
                    </div>
                </h4>
            </div>

            <div id="collapseChat" data-parent="#accordion" 
                class="panel-collapse collapse in">
                <div class="panel-body">
                    <table class="table">
                        <tr [ngClass]="{'table-active': selected === 'all'}">
                            <td class="cursor-pointer nav-stat">
                                <div (click)="changeStatistics('all')">
                                    Wszystkie
                                </div>
                            </td>
                        </tr>
                        <tr [ngClass]="{'table-active': selected === 'satisfaction'}">
                            <td class="cursor-pointer nav-stat">
                                <div (click)="changeStatistics('satisfaction')">Satysfakcja</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="p-0 ml-2">
                                    <button type="button" 
                                        class="my-2 btn btn-sm btn-outline-secondary" 
                                        (click)="showFilter()">
                                        <i class="fas fa-filter"></i> 
                                        {{isFilter ? 'Ukryj filtry' : 'Pokaż filtry'}}
                                    </button>
                                    <div *ngIf="isFilter" class="d-flex flex-column align-items-start">
                                        <div class="form-group w-100 my-1" role="group">
                                            <label for="agentSelect1" class="p-0 mb-0">
                                                Konsultant: 
                                            </label>
                                            <select [(ngModel)]='filterChatAgent' 
                                                id="agentSelect1" class="w-100" 
                                                (change)="onChange($event.target.value, 'filterChatAgent')">
                                                <option value="all">Wszyscy </option>
                                                <option *ngFor="let agent of agents" value="{{agent._id}}">
                                                    {{agent.firstname}} {{agent.lastname}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group w-100 my-1" role="group">
                                            <label for="dateSelect1" class="p-0 mb-0">
                                                Data: 
                                            </label>
                                            <select [(ngModel)]='filterChatDate' 
                                                id="dateSelect1" class="w-100" 
                                                (change)="onChange($event.target.value, 'filterChatDate')">
                                                <option value="today">Dzisiaj</option>
                                                <option value="yesterday">Wczoraj</option>
                                                <option value="7days">Ostatnich 7 dni</option>
                                                <option value="30days">Ostatnich 30 dni</option>
                                                <option value="lastMonth">Poprzedni miesiąc</option>
                                                <option value="currentMonth">Bieżący miesiąc</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title cursor-pointer nav-stat">
                    <div data-toggle="collapse" class="text-decoration-none p-2" 
                        href="#collapseAgents, #collapseFilter">
                        Konsultanci
                    </div>
                </h4>
            </div>
            <div id="collapseAgents" data-parent="#accordion" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tr [ngClass]="{'table-active': selected === 'activity'}">
                            <td class="cursor-pointer nav-stat">
                                <div (click)="changeStatistics('activity')">
                                    Aktywność
                                </div>
                            </td>
                        </tr>
                        <tr [ngClass]="{'table-active': selected === 'workHours'}">
                            <td class="cursor-pointer nav-stat">
                                <div (click)="changeStatistics('workHours')">
                                    Godziny pracy
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="p-0 ml-2">
                                    <button type="button" class="my-2 btn btn-sm btn-outline-secondary" 
                                        (click)="showFilter()">
                                        {{isFilter ? 'Ukryj filtry' : 'Pokaż filtry'}}
                                    </button>
                                    <div *ngIf="isFilter" class="d-flex  flex-column align-items-start">
                                        <div class="form-group w-100 my-1" role="group">
                                            <label for="agentSelect2" class="p-0 mb-0">Konsultant: </label>
                                            <select [(ngModel)]='filterChatAgent' 
                                                id="agentSelect2" class="w-100" 
                                                (change)="onChange($event.target.value, 'filterChatAgent')">
                                                <option value="all">Wszyscy</option>
                                                <option *ngFor="let agent of agents" value="{{agent._id}}">
                                                    {{agent.firstname}} {{agent.lastname}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group w-100 my-1" role="group">
                                            <label for="dateSelect2" class="p-0 mb-0">Data: </label>
                                            <select [(ngModel)]='filterChatDate' 
                                                id="dateSelect2" class="w-100" 
                                                (change)="onChange($event.target.value, 'filterChatDate')">
                                                <option value="today">Dzisiaj</option>
                                                <option value="yesterday">Wczoraj</option>
                                                <option value="7days">Ostatnich 7 dni</option>
                                                <option value="30days">Ostatnich 30 dni</option>
                                                <option value="lastMonth">Poprzedni miesiąc</option>
                                                <option value="currentMonth">Bieżący miesiąc</option>
                                                <option *ngIf="selected === 'workHours' || selected === 'activity'" value="all">
                                                    Wszystkie
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>