<div class="p-3 chat-content d-flex flex-column-reverse flex-nowrap" [ngStyle]="{'height': isArchive ? 'calc(100vh - 50px)' : ''}">
    <div *ngIf="undefined !== _messages && !(_messages.length > 0)" class="row justify-content-center align-items-center mt-5">
        <div class="alert alert-info">
            Brak widomości.
        </div>
    </div>
    <div class="container-fluid my-2" *ngFor="let message of _messages">
        <ng-container *ngIf="message.sender === 'visitor'" >
            <div class="row d-flex justify-content-start">
                <div class="card w-75">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">
                            Wizytor, {{message.time}}
                        </h6>
                        <p class="card-text">
                            {{message.content}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="message.sender === 'agent'" >
            <div class="row d-flex justify-content-end">
                <div class="card w-75 alert-primary text-dark">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{isArchive? this._agent : 'Ty'}}, {{message.time}}
                        </h6>
                        <p class="card-text">
                            {{message.content}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div *ngIf="!isArchive" class="row justify-content-center align-items-center chat-input">
    <div class="input-group px-3 mx-3">
        <input type="text" class="form-control" placeholder="Wpisz wiadomość...">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">Wyślij</button>
        </div>
    </div>
</div>