
<div class="sidebar-sticky">
    <h1 class="h2">Informacje o odzwiedzającym:</h1>
    <div *ngIf="isDataError" class="row justify-content-center align-items-center mt-5">
        <div class="alert alert-danger">
            Wystąpił błąd, spróbuj ponownie później.
        </div>
    </div>
    <div *ngIf="_visitorId, else visitorNotChoosen">
        <ul class="nav flex-column">
            <li class="nav-item">
                <strong>Identyfikator:</strong><br>
                {{_visitorId}} <br>
            </li>
            <li class="nav-item">
                <strong>Podstawowe informacje:</strong><br>
                Liczba czatów: {{countedChats}}<br>
                Ostatnio widziany: {{visitor.lastVisit}}<br>
            </li>
            <hr>
            <li class="nav-item">
                <strong>Obecnie przegląda:</strong><br>
                <a class="nav-link text-break" href="{{location}}" target="_blank">{{location}}</a><br>
            </li>
            <hr>
            <li class="nav-item">
                <strong>Lokalizacja:</strong><br>
                <div>
                    <map 
                        *ngIf="_visitorId, else noDataMaps" 
                        geoLocation="{{geoLocation}}" >
                    </map>
                </div> <br>
                <ng-template #noDataMaps>
                    Brak danych<br>
                </ng-template>
            </li>
            <hr>
            <li class="nav-item">
                <strong>Oprogramowanie:</strong><br>
                System operacyjny: 
                {{visitor.operatingSoftware}} <br>
                Przeglądarka:
                {{visitor.browserSoftware}}<br>
            </li>
            <hr>
        </ul>
    </div>
    

    <ng-template #visitorNotChoosen>
        Wybierz czat.
    </ng-template>
</div>