<div>
    <p *ngIf="!workingDays"><strong>Brak ustalonych godzin pracy.</strong></p>
    <table *ngIf="workingDays.length > 0" class="table table-sm">
        <thead class="thead">
            <tr>
                <th>Dzień</th>
                <th>Godziny od</th>
                <th>Do</th>
                <th *ngIf="isEditing"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let day of workingDays">
                <td>{{day.dayOfWeek}}</td>
                <td>{{day.hourFrom}}:00</td>
                <td>{{day.hourTo}}:00</td>
                <td *ngIf="isEditing" class="text-right">
                    <div (click)="deleteWorkingHours(day._id);" class="btn btn-sm btn-outline-danger ml-2">Usuń</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>