
<div *ngIf="isDataError" class="row justify-content-center align-items-center mt-5">
    <div class="alert alert-danger">
        Wystąpił błąd, spróbuj ponownie później.
    </div>
</div>

<div class="row d-flex justify-content-center p-5">
    <div class="col-8 ml-md-5">
        <div class="jumbotron bg-light">
            <h1 class="display-5">{{agentFirstname}} {{agentLastname}}</h1>
            <p class="lead">Dodaj godziny pracy</p>

            <hr class="my-4">
               
            <app-working-hours-tab
                [agentId]="agentId"
                [isEditing]="isEditing"
                (dataError)="onDataError($event)" >
            </app-working-hours-tab>

            <hr class="my-4">
            
            <form class="form" #addForm="ngForm" (ngSubmit)="OnSubmit(addForm)">
                <div class="form-group">
                    <label for="dayOfWeek" class="text-primary">Dzień: </label>
                    <select class="form-control validate" id="dayOfWeek" #dayOfWeek="ngModel" [(ngModel)]="workDay.dayOfWeek" name="dayOfWeek" required>
                        <option *ngFor="let day of days" [value]="day.number">{{day.day}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="hourFrom" class="text-primary">Godziny od:</label>
                    <input type="number" name="hourFrom" id="hourFrom" class="form-control validate" #hourFrom="ngModel" [(ngModel)]="workDay.hourFrom" min="1" max="24" required>
                </div> 
                <div class="form-group">
                    <label for="hourTo" class="text-primary">Godziny do:</label>
                    <input type="number" name="hourTo" id="hourTo" class="form-control validate" #hourTo="ngModel" [(ngModel)]="workDay.hourTo" min="1" max="24" required>
                </div> 

                <div class="col-16 my-3 text-center">
                    <button type="submit" [disabled]="workDay.hourFrom == '' || workDay.hourTo == '' || workDay.dayOfWeek == '' || hourTo.value <= hourFrom.value" class="btn btn-success text-white ml-4">Dodaj</button>
                    <button type="button" class="btn btn-secondary ml-4" (click)="back()">Zamknij</button>
                </div>
            </form>
        </div>
    </div>
</div>