<div class="row justify-content-center align-items-center mt-4">
    <div class="jumbotron bg-light w-md-50">
        <h1 class="h2">{{agentFirstname}} {{agentLastname}}</h1>
        <p class="lead">Dodaj godziny pracy</p>

        <hr class="my-4">

        <div *ngIf="isDataError" class="row justify-content-center align-items-center mt-5">
            <div class="alert alert-danger">
                Wystąpił błąd, spróbuj ponownie później.
            </div>
        </div>
            
        <app-working-hours-tab
            [agentId]="agentId"
            [isEditing]="isEditing"
            (dataError)="onDataError($event)" >
        </app-working-hours-tab>
        
        <form class="form-inline d-flex align-items-center justify-content-around" #addForm="ngForm" (ngSubmit)="OnSubmit(addForm)">
            <div class="form-group w-50">
                <select class="form-control validate w-100" id="dayOfWeek" #dayOfWeek="ngModel" [(ngModel)]="workDay.dayOfWeek" name="dayOfWeek" required>
                    <option *ngFor="let day of days" [value]="day.number">{{day.day}}</option>
                </select>
            </div>
            <div class="form-group w-25">
                <label for="hourFrom" class="text-primary">Od:</label>
                <input type="number" name="hourFrom" id="hourFrom" class="form-control validate" #hourFrom="ngModel" [(ngModel)]="workDay.hourFrom" min="1" max="24" required>
            </div> 
            <div class="form-group w-25">
                <label for="hourTo" class="text-primary">Do:</label>
                <input type="number" name="hourTo" id="hourTo" class="form-control validate" #hourTo="ngModel" [(ngModel)]="workDay.hourTo" min="1" max="24" required>
            </div> 

            <label *ngIf="dayOfWeek.invalid && (dayOfWeek.dirty || dayOfWeek.touched) && workDay.dayOfWeek == ''" class="alert alert-warning mt-3 py-2" data-error="">Dzień tygodnia jest wymagany.</label>
            <label *ngIf="((hourTo.dirty || hourTo.touched) || (hourFrom.dirty || hourFrom.touched)) && workDay.hourTo <= workDay.hourFrom" class="alert alert-warning mt-3 py-2" data-error="">Wartości zakresu godzin muszą mieścić się w przedziale od 0 do 24 oraz ‘godziny od’ muszą być mniejsze od ‘godziny do’.”</label>

            <div class="col-12 my-3 text-center">
                <button type="submit" [disabled]="workDay.hourFrom == '' || workDay.hourTo == '' || workDay.dayOfWeek == '' || hourTo.value <= hourFrom.value" class="btn btn-primary ml-4">Dodaj</button>
                <button type="button" class="btn btn-outline-secondary ml-4" (click)="back()">Powrót</button>
            </div>
        </form>
    </div>
</div>