<div class="row justify-content-center align-items-center">
    <div class="jumbotron col-10 col-md-5 col-lx-4 bg-light mt-5">
        <h1 class="h2">{{agentFirstname}} {{agentLastname}}</h1>
        <p class="lead">Dodaj godziny pracy</p>

        <div *ngIf="isDataError" 
            class="row justify-content-center align-items-center mt-5">
            <div class="alert alert-danger">
                Wystąpił błąd, spróbuj ponownie później.
            </div>
        </div>
            
        <app-working-hours-tab
            [agentId]="agentId"
            [isEditing]="isEditing"
            (dataError)="onDataError($event)" >
        </app-working-hours-tab>
        
        <form  #addForm="ngForm" (ngSubmit)="OnSubmit(addForm)">
            <table class="table table-sm">
                <thead class="thead">
                    <tr>
                        <td>
                            <div class="form-group">
                                <select class="form-control validate w-100" id="dayOfWeek" 
                                    #dayOfWeekTemplate="ngModel" [(ngModel)]="workDay.dayOfWeek" 
                                    name="dayOfWeek" required>
                                    <option *ngFor="let day of days" 
                                        [value]="day.number">
                                        {{day.day}}
                                    </option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-inline">
                                <label for="hourFrom" class="text-primary mr-2">Od:</label>
                                <input type="number" name="hourFrom" 
                                    id="hourFrom" class="form-control validate" 
                                    #hourFromTemplate="ngModel" [(ngModel)]="workDay.hourFrom" 
                                    min="1" max="24" required>
                            </div>
                        </td>
                        <td>
                            <div class="form-inline">
                                <label for="hourTo" class="text-primary mr-2">Do:</label>
                                <input type="number" name="hourTo" 
                                    id="hourTo" class="form-control validate" 
                                    #hourToTemplate="ngModel" [(ngModel)]="workDay.hourTo" 
                                    min="1" max="24" required>
                            </div>
                        </td>
                        <td class="text-right">
                            <button type="submit" 
                                [disabled]="workDay.hourFrom == '' || workDay.hourTo == '' 
                                || workDay.dayOfWeek == '' || hourToTemplate.value <= hourFromTemplate.value" 
                                class="btn btn-primary">
                                Dodaj
                            </button>
                        </td>
                    </tr>
                </thead>
            </table>
            
            <div class="row justify-content-center mt-1" 
                *ngIf="dayOfWeekTemplate.invalid && (dayOfWeekTemplate.dirty 
                    || dayOfWeekTemplate.touched) && workDay.dayOfWeek == ''">
                <div class="alert alert-warning text-center mx-3">
                    Dzień tygodnia jest wymagany.
                </div>
            </div>
            <div class="row justify-content-center mt-1" 
            *ngIf="((hourToTemplate.dirty || hourToTemplate.touched) || (hourFromTemplate.dirty
                || hourFromTemplate.touched)) && workDay.hourTo <= workDay.hourFrom">
                <div class="alert alert-warning text-center mx-3">
                    Wartości zakresu godzin muszą mieścić się w przedziale 
                    od 0 do 24 oraz ‘godziny od’ muszą być mniejsze od ‘godziny do’.”
                </div>
            </div>
            <div class="row justify-content-center my-2">
                <button type="button" (click)="back()"
                    class="btn btn-outline-secondary ml-4" >
                    Powrót
                </button>
            </div>
        </form>
    </div>
</div>