* {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
    overflow-x: hidden;
}

body {
    height: 100vh;
}

.cursor-pointer{
    cursor: pointer;
}

.min-100 {
    min-height: 100%;
}

.vh-100 {
    min-height: 100vh;
}

.visitor-main {
    position: relative;
    min-height: 100vh;
}

.chat-header{
    height: 50px;
}

.card{
    overflow: hidden;
}

.card-text{
    word-wrap: break-word;
}

.rating > input {
    display: none;
} 

.rating > input:checked ~ label { 
    color: #f0d574 ; 
}

.rating > input:hover ~ label { 
    color: #f0d574 ;
}

.margin-top {
    margin-top: 50px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.form-inline {
    text-align: center;
}

section {
    padding: 10vh 0;
}

main {
    position: relative;
    min-height: calc(100vh - 50px);
}

hr {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border: 0;
    border-top: 1px solid hsl(0, 0%, 88%);
}

.chat-content{
    height: calc(100vh - 3rem - 50px);
    overflow: auto;
    overflow-x: hidden;
}

.side-bar-scroll {
    height: calc(100vh - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-input{
    height: 3rem;
}

.card{
    overflow: hidden;
}

.card-text{
    word-wrap: break-word;
}

.overflow-hide {
    overflow: hidden;
}
