<div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar py-4">
                <div class="sidebar-sticky">
                    <h1 class="h3 text-center">Czaty</h1>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                visitor-1
                            </a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                visitor-2
                            </a>
                        </li>
                        <hr>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                visitor-3
                            </a>
                        </li>
                        <hr>
                    </ul>
                </div>
            </nav>
    


            <main class="col-md-7 ml-sm-auto col-lg-7 px-4">
                <div class="input-group chat-content">
                    
                </div>
                <div class="input-group chat-input">
                    <input type="text" class="form-control" placeholder="Napisz wiadomość..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Wyślij</button>
                    </div>
                </div>
            </main>



            <nav class="col-md-3 d-none d-md-block bg-light sidebar py-4">
                    <div class="sidebar-sticky">
                        <h1 class="h2">Info o odwiedzającym</h1>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <strong>Podstawowe informacje:</strong><br>
                                Liczba wizyt: 80<br>
                                Liczba czatów: 5<br>
                                Ostatnio widziany: wczoraj<br>
                            </li>
                            <hr>
                            <li class="nav-item" href="#">
                                Lokalizacja: <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                            </li>
                            <hr>
                            <li class="nav-item" href="#">
                                <strong>Oprogramowanie:</strong><br>
                                System operacyjny: 
                                Windows 10 <br>
                                Przeglądarka:
                                Opera 62.0.3331.99<br>
                            </li>
                            <hr>
                            <li class="nav-item" href="#">
                                <strong>Połączenie:</strong><br>
                                Publiczne IP: XX.XX.XXX.XXX<br>
                                Dostawca: Lorem ipsum<br>
                            </li>
                            <hr>
                        </ul>
                    </div>
                </nav>
        </div>
    </div>