<div *ngIf="isDataError" class="row justify-content-center align-items-center mt-5">
    <div class="alert alert-danger">
        Wystąpił błąd, spróbuj ponownie później.
    </div>
</div>
<div *ngIf="!isDataError" class="container-fluid">
    <div class="row">
        <nav class="col-3 col-md-3 col-lx-2 p-0 side-bar-scroll bg-light sidebar">
            <app-chats-list
                [chats]="chats"
                (switchRoomClick)="onSwitchRoom($event)" >
            </app-chats-list>
        </nav>

        <main class="col-5 col-md-6 col-lx-8 p-0 side-bar-scroll">
            <app-chat-content 
                [messages]="chat.messages"
                [isChat]="isChat"
                (sendMessage)="onSendMessage($event)">
            </app-chat-content>
        </main>

        <div class="col-4 col-md-3 col-lx-2 p-0 side-bar-scroll bg-light sidebar">
            <div *ngIf="visitor === ''" class="p-3 text-center">
                <p class="text-info h4">Wybierz czat z listy.</p>
            </div>
            <app-chat-visitor-info
                *ngIf="chat"
                [visitor]="chat.visitor"
                [location]="location">
            </app-chat-visitor-info>
        </div>
    </div>
</div>