<div class="container-fluid">
    <div class="row">
        <nav class="col-3 col-md-3 col-lg-2 col-lx-2 p-0 side-bar-scroll bg-light sidebar">
            <app-chats-list
                [chats]="chats"
                [isArchive]="true"
                (switchRoomClick)="onSwitchRoom($event)" >
            </app-chats-list>
        </nav>

        <main class="col-5 col-md-6 col-lg-7 col-lx-8 p-0 side-bar-scroll">
            <app-chat-content
                [isArchive]="true"
                [messages]="messages"
                [agent]="agent">
            </app-chat-content>
        </main>

        <div class="col-4 col-md-3 col-lx-2 p-0 side-bar-scroll bg-light sidebar">
            <div *ngIf="visitor === ''" class="p-3 text-center">
                <p class="text-info h4">Wybierz czat z listy.</p>
            </div>
            <app-chat-info
                *ngIf="visitor"
                [agent]="agent"
                [chat]="chat"
                (clickDeleteChat)="onDeleteChat($event)" >
            </app-chat-info>
            <app-chat-visitor-info
                *ngIf="visitor"
                [visitor]="visitor"
                [isArchive]="true" >
            </app-chat-visitor-info>
        </div>
    </div>
</div>