
<div class="row justify-content-center align-items-center">
    <div class="jumbotron col-10 col-md-6 col-lx-5 bg-light">
        <h1 class="h2">{{ isAdding? "Dodaj konsultanta" : "Edytuj dane"}}</h1>
        <p class="lead">
            {{ 
                isAdding
                ? "Wprowadź dane i zatwierdź przyciskiem 'Dodaj'" 
                : "Wprowadź zmiany i zatwierdź przyciskiem 'Zapisz'"
            }}
        </p>
        
        <hr class="my-4">

        <div *ngIf="isEmailError" class="row justify-content-center align-items-center">
            <div class="alert alert-warning">
                Email jest już zajęty.
            </div>
        </div>

        <form class="form" #editForm="ngForm" (ngSubmit)="OnSubmit(editForm)">
            <div class="form-group mt-2">
                <label for="firstname" class="text-primary">
                    Imię{{ isAdding? "*" : ""}}:
                </label>
                <input type="text" name="firstname" 
                    id="firstname" class="form-control validate" 
                    #firstnameTemplate="ngModel" [attr.required]="isAdding" 
                    [(ngModel)]="user.firstname" [pattern]="firstnamePattern">
                <label *ngIf="firstnameTemplate.invalid && (firstnameTemplate.dirty || firstnameTemplate.touched)" 
                    class="alert alert-warning mt-2 p-2">
                    Imię to ciąg maksymalnie 20 znaków.
                </label>
            </div>

            <div class="form-group mt-2">
                <label for="lastname" class="text-primary">
                    Nazwisko{{ isAdding? "*" : ""}}:
                </label>
                <input type="text" name="lastname" 
                    id="lastname" class="form-control validate" 
                    #lastnameTemplate="ngModel" [attr.required]="isAdding" 
                    [(ngModel)]="user.lastname" [pattern]="lastnamePattern">
                <label *ngIf="lastnameTemplate.invalid && (lastnameTemplate.dirty || lastnameTemplate.touched)" 
                    class="alert alert-warning mt-2 p-2">
                    Nazwisko to ciąg maksymalnie 20 znaków.
                </label>
            </div>

            <div class="form-group mt-2">
                <label for="email" class="text-primary">
                    Email{{ isAdding? "*" : ""}}:
                </label>
                <input type="email" name="email" 
                    id="email" class="form-control validate" 
                    #emailTemplate="ngModel" [attr.required]="isAdding" 
                    [(ngModel)]="user.email" [pattern]="emailPattern">
                <label *ngIf="emailTemplate.invalid && (emailTemplate.dirty || emailTemplate.touched)" 
                    class="alert alert-warning mt-2 p-2">
                    Email to maksymalnie 60 znaków i zachowywać format emaila.
                </label>
            </div>

            <div class="form-group mt-2">
                <label for="password" class="text-primary">
                    Hasło{{ isAdding? "*" : ""}}:
                </label>
                <input type="password" name="password" 
                    id="password" class="form-control validate" 
                    #passwordTemplate="ngModel" [attr.required]="isAdding" 
                    [(ngModel)]="user.password" [pattern]="passwordPattern">
                <label *ngIf="passwordTemplate.invalid && (passwordTemplate.dirty || passwordTemplate.touched)" 
                    class="alert alert-warning mt-2 p-2">
                    Hasło znaków musi zawierać co najmniej jedną cyfrę, 
                    jedną małą literę oraz jedną dużą literę oraz od 6 do 30.
                </label>
            </div>

            <div class="form-group mt-2">
                <label for="repassword" class="text-primary">
                    Powtórz hasło{{ isAdding? "*" : ""}}:
                </label>
                <input type="password" name="repassword" 
                    id="repassword" class="form-control validate" 
                    #repasswordTemplate ="ngModel" [attr.required]="isAdding" 
                    [(ngModel)]="user.repassword">
                <label *ngIf="passwordTemplate.value !== repasswordTemplate.value 
                    && (repasswordTemplate.dirty || repasswordTemplate.touched)"  
                    class="alert alert-warning mt-2 p-2">
                    Powtórzone hasło musi być identyczne jak hasło.
                </label>
            </div>
            
            <div *ngIf="isAdding" class="alert alert-info mt-2 p-2">
                * Wszystkie pola są wymagane.
            </div>

            <div class="col-16 my-3 text-center">
                <button type="submit" 
                    [disabled]="!editForm.valid"
                    class="btn btn-primary ml-4">
                    {{ isAdding? "Dodaj" : "Zapisz" }}
                </button>
                <button class="btn btn-outline-secondary ml-4"
                    type="button" (click)="close()">
                    Zamknij
                </button>
            </div>
        </form>
    </div>  
</div>