
<div class="sidebar-sticky">
    <div *ngIf="isDataError" class="row justify-content-center align-items-center mt-5">
        <div class="alert alert-danger">
            Wystąpił błąd, spróbuj ponownie później.
        </div>
    </div>

    <ul *ngIf="chatList.length > 0; else chatListEmpty" class="nav flex-column">
        <li *ngFor="let chat of chatList" class="nav-item">
            <div class="nav-link p-2 text-break" (click)="switchRoom(chat._id)">
                Identyfikator: {{ chat.visitor }}
            </div>
        <hr>
        </li>
    </ul>

    <ng-template #chatListEmpty>
        Brak czatów.
    </ng-template>
</div>