<div class="row m-0 p-3 d-flex flex-column-reverse flex-nowrap chat-content">
    <div class="container-fluid my-2" *ngFor="let message of messages">
        <ng-container *ngIf="message.sender === 'agent'" >
            <div class="row d-flex justify-content-start">
                <div class="card w-75">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{chat.agent.firstname}} {{chat.agent.lastname}}, {{message.time}}
                        </h6>
                        <p class="card-text">
                            {{message.content}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="message.sender === 'visitor'" >
            <div class="row d-flex justify-content-end">
                <div class="card w-75 alert-primary text-dark">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">
                            Ty, {{message.time}}
                        </h6>
                        <p class="card-text">
                            {{message.content}}
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div class="row px-3 justify-content-center align-items-center chat-input">
    <div class="input-group px-3 mx-3">
        <input type="text" class="form-control" (keydown.enter)="sendMessage()" [(ngModel)]="message" name="message" placeholder="Wpisz wiadomość..." autocomplete="off">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" (click)="sendMessage()">Wyślij</button>
        </div>
    </div>
</div>